@layer reset {
  *, *:before, *:after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  :root {
    interpolate-size: allow-keywords;

    --base-font-size: 1.25rem;
    --base-line-height: 1.5;
    --scale-factor: 1.4;

    --space: calc(var(--base-font-size) * var(--base-line-height));

    /* from https://bitsofco.de/the-new-system-font-stack */
    --fonts-sans: system-ui, "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell", "Helvetica Neue", sans-serif;
    --fonts-serif: "Palatino Linotype", "Palatino", "Book Antiqua", "Baskerville", "Bookman Old Style", "Garamond", "Georgia", serif;
    --fonts-mono: "Consolas", "Lucida Console", "Menlo", "Monaco", "Cousine", "Courier New", "Courier", monospace;
  }

  body {
    margin: calc(var(--space) * 3);
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    font-family: var(--fonts-sans);
    color: var(--color-slate-1);
  }

  /* Media */
  :where(img, picture, video, canvas, svg) {
    display: block;
    max-inline-size: 100%;
  }

  /* Forms */
  :where(input, button, textarea, select) {
    font: inherit;
    word-spacing: inherit;
    letter-spacing: inherit;
    color: currentColor;
  }

  a {
    color: inherit;
    text-decoration-color: royalblue;
    text-underline-offset: 0.25rem;
    transition: all 0.15s ease;

    &:hover, &:active {
      color: royalblue;
      text-decoration-color: whitesmoke;
    }
  }

  p, ul, ol, pre, table {
    margin-block: 1em;
  }

  ul, ol {
    padding-inline-start: 1em;
  }

  h1, h2, h3, h4 {
    margin-trim: block;
    line-height: 1.25em;
    font-weight: 500;
    letter-spacing: -0.025ch;
    text-wrap: balance;
  }

  h1 {
    margin-block: 1.5em;
    font-size: calc(var(--base-font-size) * pow(var(--scale-factor), 3));
  }

  h2 {
    margin-block-start: 1.5em;
    margin-block-end: 1em;
    font-size: calc(var(--base-font-size) * pow(var(--scale-factor), 2));
  }

  h3 {
    margin-block: 1em;
    font-size: calc(var(--base-font-size) * var(--scale-factor));
  }

  h4 {
    margin-block-start: 1em;
    margin-block-end: 0;
    font-size: var(--base-font-size);
  }

  code {
    padding: 0.33em;
    border-radius: 0.33em;
    font-size: smaller;
    background-color: whitesmoke;
  }

  blockquote {
    padding-inline-start: var(--space);
    border-left: 4px solid whitesmoke;
  }

  hr {
    margin-block: calc(var(--space) * 2);
    border: 2px solid whitesmoke;
  }
}
