/*
//  Variables
*/

:root {
  /* Type and scale */
  --base-font-size: 1.8rem;
  --base-line-height:  1.6;
  --scale-factor:    1.333;

  /* Spaces */
  --space:         calc(var(--base-font-size) * var(--base-line-height));
  --space-half:    calc(var(--space) / 2);
  --space-quarter: calc(var(--space) / 4);

  /* Typefaces */
  --sans-serif-font: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  --monospace-font:  Menlo, Monaco, Consolas, monospace;

  /* Colors */
  --color-text:    #1b2733;
  --color-bg:      #f4f6f8;
  --color-subdued: #637381;
  --color-primary: #007ace;
  --color-success: #50b83c;
  --color-danger:  #ed6347;
}

@media (max-width: 750px) {
  :root {
    --base-font-size: 1.6rem;
  }
}


/*
//  Base
*/

html {
  font-family: var(--sans-serif-font);
  font-size:   62.5%;
  line-height: var(--base-line-height);
  color:       var(--color-text);
  box-sizing:  border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: var(--base-font-size);
}

main {
  max-width: calc(var(--space) * 30);
  padding: var(--space);
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: .1rem solid var(--color-primary);
  transition: color 0.1s ease;
}

a:hover:not(.button) {
  color: var(--color-primary);
}

p, ul, ol, table, blockquote, pre {
  margin-top: 0;
  margin-bottom: var(--space);
}

img {
  display: block;
  max-width: 100%;
  padding: var(--space-half);
  margin: var(--space) auto;
  background: var(--color-bg);
}

blockquote {
  padding-left: var(--space);
  margin-left: 0;
  color: var(--color-subdued);
  border-left: .3rem solid var(--color-subdued);
}

figure {
  margin: 0;
}

code {
  display: inline-block;
  padding: 0 calc(var(--space) / 5);
  font-size: 0.8rem;
  font-family: var(--monospace-font);
  background: var(--color-bg);
  border-radius: .3rem;
}

pre {
  padding: var(--space-half);
  background: var(--color-bg);
}

hr {
  margin-top: var(--space);
  margin-bottom: var(--space);
  border: .1rem solid var(--color-bg);
}


/*
//  Headings
*/

h1, h2, h3, h4 {
  margin-top: calc(var(--space) * 2);
  margin-bottom: var(--space);
  font-weight: normal;
  line-height: calc(var(--base-line-height) * 0.75);
}

h1, .heading-1 {
  margin-bottom: calc(var(--space) * 2);
  font-size: calc(
    var(--base-font-size)
    * var(--scale-factor)
    * var(--scale-factor)
    * var(--scale-factor)
  );
}

h2, .heading-2 {
  font-size: calc(
    var(--base-font-size)
    * var(--scale-factor)
    * var(--scale-factor)
  );
}

h3, .heading-3 {
  font-size: calc(
    var(--base-font-size)
    * var(--scale-factor)
  );
}

h4, .heading-4 {
  font-weight: lighter;
}

/*
//  Lists
*/

ul, ol {
  padding-left: var(--space);
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}


/*
//  Buttons
*/

button, .button {
  display: inline-block;
  padding: calc(var(--space) / 5) var(--space);
  font-size: var(--base-font-size);
  line-height: inherit;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background: var(--color-subdued);
  border: .3rem solid rgba(255, 255, 255, 0);
  border-bottom-color: rgba(0, 0, 0, 0.4);
  border-radius: calc(var(--space) / 6);
  transition: border-color 0.1s ease;
}

button:hover, .button:hover,
button:focus, .button:focus {
  border-color: rgba(255, 255, 255, 0.4);
}

button:active, .button:active {
  transform: translateY(calc(var(--space) / 20));
}

button.outline, .button.outline {
  background: none;
  border-color: rgba(0, 0, 0, 0.4);
  color: var(--color-text);
}

button.outline:hover, .button.outline:hover,
button.outline:focus, .button.outline:focus {
  border-color: rgba(0, 0, 0, 0.2);
}

button.clear, .button.clear {
  background: none;
  border-color: rgba(255, 255, 255, 0);
  color: var(--color-text);
}

button.clear:after, .button.clear:after {
  display: inline-block;
  padding-left: var(--space-quarter);
  content: '➤';
  color: var(--color-subdued);
  transform: scale(0.5);
}

button.clear:hover, .button.clear:hover,
button.clear:focus, .button.clear:focus {
  border-color: rgba(0, 0, 0, 0.4);
}

button.primary, .button.primary, button[type="submit"] {
  background: var(--color-primary);
}

button.success, .button.success {
  background: var(--color-success);
}

button.danger, .button.danger {
  background: var(--color-danger);
}


/*
//  Tables
*/

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

th {
  font-weight: normal;
  border-bottom: .1rem solid var(--color-subdued);
}

th, td {
  padding: calc(var(--space) / 5);
}


/*
//  Forms
*/

input, textarea {
  display: inline-block;
  width: 100%;
  padding: var(--space-quarter);
  margin-bottom: var(--space);
  font-size: var(--base-font-size);
  border: .1rem solid var(--color-subdued);
  border-radius: .3rem;
}


/*
//  Grid
*/

.grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  flex: 1;
}

.half {
  flex: 50%;
}

.third {
  flex: 33.33%;
}

.quarter {
  flex: 25%;
}

.fifth {
  flex: 20%;
}

@media (max-width: 750px) {
  .grid {
    flex-direction: column;
  }
}


/*
//  Utility
*/

.small { transform: scale(0.8); }

.large { transform: scale(1.2); }

.center { text-align: center; }

.hide { display: none; }
