////
/// Base
////

html {
  font-family: $font-sans;
  font-size:   62.5%;
  line-height: $line-height-base;
  color:       color(coal);
  box-sizing:  border-box;
  // -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: $font-size-base;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 0.2rem solid $color-primary;
  transition: all $transition;

  &:hover:not(.button) {
    color: $color-primary;
    border-bottom-color: $color-bg;
  }

  &:active:not(.button) {
    background: $color-bg;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

video {
  max-width: 100%;
}

blockquote {
  padding-left: $space;
  margin-left: 0;
  color: $color-subdued;
  border-left: 0.3rem solid $color-primary;
}

code,
kbd,
samp {
  display: inline-block;
  padding: 0 ($space / pow($scale-factor, 4));
  font-size: $font-size-base / $scale-factor;
  font-family: $font-mono;
  background: $color-bg;
  border-radius: 0.3rem;
}

pre {
  padding: $space / pow($scale-factor, 2);
  background: $color-bg;

  code {
    background: none;
  }
}

hr {
  margin-top: $space;
  margin-bottom: $space;
  border: 0.1rem solid $color-bg;
}

:focus {
  outline: $color-primary auto 0.4rem;
}
