////
/// Buttons
////

button, .button {
  display: inline-block;
  padding: calc(var(--space) / 5) var(--space);
  font-size: var(--base-font-size);
  line-height: inherit;
  color: var(--color-white);
  text-align: center;
  cursor: pointer;
  background: var(--color-subdued);
  border: .2rem solid rgba(255, 255, 255, 0);
  border-bottom-color: rgba(0, 0, 0, 0.5);
  border-radius: .4rem;
  transition: border var(--transition);

  &:hover, &:focus {
    border-color: rgba(255, 255, 255, 0.5);
  }

  &:active {
    transform: translateY(.1rem);
  }

  ///
  /// Button states

  @each $type in primary success warning danger {
    &.#{$type} {
      background: var(--color-#{$type});
    }
  }

  // Primary style for "Submit" buttons
  &[type="submit"] {
    background: var(--color-primary);
  }

  ///
  /// Button types

  &.outline {
    background: rgba(255, 255, 255, 0);
    border-color: rgba(0, 0, 0, 0.5);
    color: var(--color-text);

    &:hover, &:focus {
      border-color: rgba(0, 0, 0, 0.2);
    }
  }

  &.clear {
    background: rgba(255, 255, 255, 0);
    border-color: rgba(0, 0, 0, 0);
    color: var(--color-text);

    &:after {
      display: inline-block;
      padding-left: var(--space-quarter);
      content: '>';
      color: var(--color-subdued);
      transform: scale(0.5);
    }

    &:hover, &:focus {
      border-color: rgba(0, 0, 0, 0.5);
    }
  }

}
