////
/// Figures
////

figure,
.figure {
  padding: var(--space);
  margin: 0;
  margin-bottom: var(--space);
  background: var(--color-bg);
  border-radius: 0.25rem;
}

figcaption,
.caption {
  width: 100%;
  font-size: 1em;
  text-align: center;
  color: var(--color-subdued);

  &:first-child {
    margin-bottom: var(--space-half);
  }

  &:last-child {
    margin-top: var(--space-half);
  }
}
