////
/// Tables
////

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  th {
    border-bottom: 0.1rem solid $color-subdued;
  }

  th,
  td {
    padding: $space / pow($scale-factor, 3);
  }

  &.striped {
    tr:nth-child(even) {
      background: $color-bg;
    }
  }

}
