////
/// Tables
////

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

th {
  border-bottom: .1rem solid var(--color-subdued);
}

th, td {
  padding: var(--space-quarter);
}
