////
/// Tables
////

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;

  th {
    border-bottom: 0.1rem solid var(--color-subdued);
  }

  th,
  td {
    padding: var(--space-quarter);
  }

  &.striped {
    tr:nth-child(even) {
      background: var(--color-bg);
    }
  }

}
