////
/// Typography
////

h1,
.heading-1,
h2,
.heading-2,
h3,
.heading-3,
h4,
.heading-4 {
  font-weight: normal;
  line-height: $line-height-base / $scale-factor;
}

h1,
.heading-1 {
  font-size: $font-size-base * pow($scale-factor, 3);
}

h2,
.heading-2 {
  font-size: $font-size-base * pow($scale-factor, 2);
}

h3,
.heading-3 {
  font-size: $font-size-base * pow($scale-factor, 1);
}

h4,
.heading-4 {
  font-size: $font-size-base;
}
