////
/// Base
////

html {
  font-family: var(--font-serif);
  font-size:   62.5%;
  line-height: var(--line-height-base);
  color:       rgb(32, 50, 64);
  box-sizing:  border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  max-width: var(--page-width);
  font-size: var(--font-size-base);
}

img, video {
  max-width: 100%;
  height: auto;
}
