////
/// Content
////

article,
.content {

  h1, .heading-1,
  h2, .heading-2,
  h3, .heading-3,
  h4, .heading-4 {
    margin-top: var(--space-double);
    margin-bottom: var(--space);
  }

  img {
    padding: var(--space-quarter);
    margin: var(--space) auto;
    background: var(--color-white);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 2rem var(--color-subdued);
  }

  .grid {
    margin-bottom: var(--space);
  }

}
