////
/// Figures
////

figure,
.figure {
  padding: $space;
  margin: 0;
  margin-bottom: $space;
  background: $color-bg;
  border-radius: 0.25rem;
}

figcaption,
.caption {
  width: 100%;
  text-align: center;
  color: $space;

  &:first-child {
    margin-bottom: $space / $scale-factor;
  }

  &:last-child {
    margin-top: $space / $scale-factor;
  }
}
