////
/// Forms
////

input,
textarea,
select {
  display: inline-block;
  width: 100%;
  padding: $space / pow($scale-factor, 4);
  margin-bottom: $space;
  font-size: $font-size-base;
  border: $border;
  border-radius: 0.3rem;
  height: $space * $scale-factor;
}

label {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: $color-subdued;
}

textarea {
  min-height: $font-size-base * 8;
}
