///
//  Variables
///

:root {
  // Type and scale
  --font-sans-serif: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  --font-monospace:  Menlo, Monaco, Consolas, monospace;

  --base-font-size: 1.8rem;
  --base-line-height:  1.6;
  --scale-factor:      1.4;

  // Spaces
  --space:         calc(var(--base-font-size) * var(--base-line-height));
  --space-half:    calc(var(--space) / 2);
  --space-quarter: calc(var(--space) / 4);

  // Colors
  --color-white:  rgb(255, 255, 255);
  --color-light:  rgb(245, 245, 245);  --color-bg:       var(--color-light);
  --color-grey:   rgb(125, 125, 125);  --color-subdued:   var(--color-grey);
  --color-slate:  rgb( 35,  35,  35);  --color-text:     var(--color-slate);
  --color-black:  rgb(  0,   0,   0);
  --color-brown:  rgb(140, 110, 100);
  --color-red:    rgb(240,  85,  80);  --color-danger:     var(--color-red);
  --color-pink:   rgb(235,  65, 120);
  --color-purple: rgb(170,  70, 190);
  --color-indigo: rgb( 90, 105, 190);
  --color-blue:   rgb( 65, 165, 245);  --color-primary:   var(--color-blue);
  --color-cyan:   rgb( 40, 200, 220);
  --color-teal:   rgb( 40, 165, 155);
  --color-green:  rgb(100, 185, 105);  --color-success:  var(--color-green);
  --color-lime:   rgb(210, 225,  85);
  --color-yellow: rgb(255, 240,  90);
  --color-orange: rgb(255, 165,  40);  --color-warning: var(--color-orange);
}


///
/// Responsiveness

@media (max-width: 720px) {
  :root { --base-font-size: 1.6rem; }
}
